{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AssumeRole",
      "Effect": "Allow",
      "Principal": { "AWS": "arn:aws:iam::{{ aws_caller_info.account }}:root" },
      "Action": "sts:AssumeRole"
    }
  ]
}
