[testhost_py3]
"{{ ec2_instance.instances[0].public_ip_address }}"

[testhost_py2]
"{{ ec2_instance_py2.instances[0].public_ip_address }}"

[testhost:children]
testhost_py3
{% if ansible_version.full is version_compare('2.17', '<') %}
testhost_py2
{% endif %}

[testhost:vars]
ansible_ssh_private_key_file="{{ sshkey }}"

[testhost_py3:vars]
ansible_user="{{ ec2_ami_ssh_user }}"
image_id="{{ ec2_ami_id }}"
ansible_python_interpreter=python3

[testhost_py2:vars]
ansible_user="{{ ec2_ami_ssh_user_py2 }}"
image_id="{{ ec2_ami_id_py2 }}"
ansible_python_interpreter=python2

[all:vars]
# Template vars that will need to be used in used in tests and teardown
vpc_id="{{ vpc_id }}"
vpc_subnet_id="{{ vpc_subnet_id }}"
vpc_sg_id="{{ vpc_sg_id }}"
vpc_cidr="{{ vpc_cidr }}"
vpc_igw="{{ vpc_igw_id }}"
vpc_route_table_id="{{ vpc_route_table_id }}"
ec2_key_name="{{ ec2_key_name }}"
availability_zone="{{ availability_zone }}"
ec2_instance_id="{{ ec2_instance_id }}"
ec2_instance_id_py2="{{ ec2_instance_id_py2 }}"
