# When updating the minimal requirements please also update
# - tests/unit/constraints.txt
# - tests/integration/constraints.txt
# - tests/integration/targets/setup_botocore_pip
botocore>=1.21.0
boto3>=1.18.0
