botocore
boto3

placebo
mock
pytest
pytest-forked
pytest-mock
pytest-xdist
pytest-ansible

# Needed for ansible.utils.ipaddr in tests
netaddr
# Sometimes needed where we don't have features we need in modules
awscli
# Used for comparing SSH Public keys to the Amazon fingerprints
cryptography
