botocore
boto3

coverage==4.5.4
placebo
mock
pytest==6.2.0
pytest-xdist
# We should avoid these two modules with py3
pytest-mock
# Needed for ansible.utils.ipaddr in tests
netaddr
# Sometimes needed where we don't have features we need in modules
awscli
# Used for comparing SSH Public keys to the Amazon fingerprints
pycrypto

# Work around ansible.netcommon installing python38-six, ansible-test will pull in a
# later version which then breaks the urllib3 install
# https://github.com/urllib3/urllib3/issues/1518
six==1.16.0
urllib3<1.27,>=1.26
#
rstcheck
