plugin: amazon.aws.aws_ec2
access_key: '{{ aws_access_key }}'
secret_key: '{{ aws_secret_key }}'
{% if security_token | default(false) %}
session_token: '{{ security_token }}'
{% endif %}
regions:
- '{{ aws_region }}'
filters:
  tag:Name:
  - '{{ resource_prefix }}'
keyed_groups:
- key: 'security_groups|map(attribute="group_id")'
  prefix: security_groups
- key: tags
  prefix: tag
- prefix: arch
  key: architecture
compose:
  test_compose_var_sum: tags.tag1 + tags.tag2
groups:
  tag_with_name_key: '''Name'' in (tags | list)'
