{
    "Version": "2012-10-17",
    "Id": "ELB-Logging-Policy",
    "Statement": [
        {
            "Sid": "ELB-Logging",
            "Effect": "Allow",
            "Principal": {
                "AWS": "arn:aws:iam::{{ access_log_account_id }}:root"
            },
            "Action": "s3:PutObject",
            "Resource": "arn:aws:s3:::{{ s3_logging_bucket }}/*"
        }
    ]
}
