{
    "Version": "2012-10-17",
    "Id": "ELB-Logging-Policy",
    "Statement": [
        {
            "Sid": "ELB-Logging",
            "Effect": "Allow",
            "Principal": {
                "Service": "logdelivery.elasticloadbalancing.amazonaws.com"
            },
            "Action": "s3:PutObject",
            "Resource": "arn:aws:s3:::{{ s3_logging_bucket }}/AWSLogs/{{ aws_account }}/*"
        }
    ]
}
