{% for item in igw_facts.internet_gateways %}
- name: "{{ item.tags.Name | default(item.internet_gateway_id) }}"
  canonical_facts:
    internet_gateway_id: "{{ item.internet_gateway_id }}"
  facts:
    device_type: {{ networking_facts.igw }}
{% for key, value in networking_common_facts.items() %}
    {{ key }}: {{ value }}
{% endfor %}
    attached_vpc_ids: {{ item.attachments | default([]) | map(attribute='vpc_id') | list }}
{% if item.tags %}
    tags:
{% for key, value in item.tags.items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% else %}
    tags: {}
{% endif %}
{% endfor %}
