{% for item in natgw_facts.result %}
- name: "{{ item.tags.Name | default(item.nat_gateway_id) }}"
  canonical_facts:
    nat_gateway_id: "{{ item.nat_gateway_id }}"
  facts:
    device_type: {{ networking_facts.nat_gateway }}
{% for key, value in networking_common_facts.items() %}
    {{ key }}: {{ value }}
{% endfor %}
    status: "{{ item.state }}"
{% if item.tags %}
    tags:
{% for key, value in item.tags.items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% else %}
    tags: {}
{% endif %}
{% endfor %}
