{% for item in route_table_facts.route_tables %}
- name: "{{ item.tags.Name | default(item.route_table_id | default(item.id)) }}"
  canonical_facts:
    route_table_id: "{{ item.route_table_id | default(item.id) }}"
  facts:
    device_type: {{ networking_facts.route_table }}
{% for key, value in networking_common_facts.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% if item.tags %}
    tags:
{% for key, value in item.tags.items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% else %}
    tags: {}
{% endif %}
{% endfor %}
