{% for item in subnets_facts.subnets %}
- name: "{{ item.tags.Name | default(item.subnet_id) }}"
  canonical_facts:
    subnet_id: "{{ item.subnet_id }}"
  facts:
    device_type: {{ networking_facts.subnet }}
{% for key, value in networking_common_facts.items() %}
    {{ key }}: {{ value }}
{% endfor %}
    status: "{{ item.state }}"
{% if item.tags %}
    tags:
{% for key, value in item.tags.items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% else %}
    tags: {}
{% endif %}
{% endfor %}
