{% for item in vgw_facts.virtual_gateways %}
- name: "{{ item.resource_tags.Name | default(item.vpn_gateway_id) }}"
  canonical_facts:
    vpn_gateway_id: "{{ item.vpn_gateway_id }}"
  facts:
    device_type: {{ networking_facts.vgw }}
{% for key, value in networking_common_facts.items() %}
    {{ key }}: {{ value }}
{% endfor %}
    status: "{{ item.state }}"
{% if item.resource_tags %}
    tags:
{% for key, value in item.resource_tags.items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% else %}
    tags: {}
{% endif %}
{% endfor %}
