{% for item in vpn_facts.vpn_connections %}
- name: "{{ item.tags.Name | default(item.vpn_connection_id) }}"
  canonical_facts:
    vpn_connection_id: "{{ item.vpn_connection_id }}"
  facts:
    device_type: {{ networking_facts.vpn }}
{% for key, value in networking_common_facts.items() %}
    {{ key }}: {{ value }}
{% endfor %}
    status: "{{ item.state }}"
{% if item.tags %}
    tags:
{% for key, value in item.tags.items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% else %}
    tags: {}
{% endif %}
{% endfor %}
