# Specifically run tests against the oldest versions that we support
boto3==1.22.0
botocore==1.25.0

# AWS CLI has `botocore==` dependencies, provide the one that matches botocore
# to avoid needing to download over a years worth of awscli wheels.
awscli==1.23.0
