# Specifically run tests against the oldest versions that we support
botocore==1.38.10
boto3==1.38.10

# AWS CLI has `botocore==` dependencies, provide the one that matches botocore
# to avoid needing to download over a years worth of awscli wheels.
awscli==1.32.0
