# Our code is based on the AWS SDKs
boto3
botocore

# netaddr is needed for ansible.utils.ipv6
netaddr
virtualenv
# Sometimes needed where we don't have features we need in modules
Cython<3.0
pyyaml<6
awscli --global-option="--break-system-packages"
# Used for comparing SSH Public keys to the Amazon fingerprints
cryptography
