# Specifically run tests against the oldest versions that we support
botocore==1.38.23
boto3==1.38.23
# aiobotocore doesn't play nice:
# - it's got very specific botocore requirements and rarely supports a.b.0
# aiobotocore==2.23.0

# AWS CLI has `botocore==` dependencies, provide the one that matches botocore
# to avoid needing to download over a years worth of awscli wheels.
awscli==1.39.0
