---
name: ansible bot
on:
  issues:
    types:
      - opened
      - reopened

jobs:
  add_label:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
    steps:
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: needs_triage
