---
name: label new prs
on:
  pull_request:
    types:
      - opened
      - reopened

jobs:
  add_label:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: needs_triage
