# SonarCloud analysis after CI passes (i.e. triggers when "all_green" workflow completes).

---
name: SonarCloud

on:
  workflow_run:
    workflows:
      - all_green
    types:
      - completed
    secrets:
      SONAR_TOKEN:
        required: true

permissions: read-all

jobs:
  finalize:
    name: finalize
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
          fetch-depth: 0
          show-progress: false

      - name: Get PR number and info
        if: github.event.workflow_run.event == 'pull_request'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PR_NUMBER=$(gh pr list --head "${{ github.event.workflow_run.head_branch }}" --repo "${{ github.repository }}" --json number -q '.[0].number')
          echo "PR_NUMBER=$PR_NUMBER" >> $GITHUB_ENV
          if [ -n "$PR_NUMBER" ]; then
            PR_DATA=$(gh api "repos/${{ github.repository }}/pulls/$PR_NUMBER")
            echo "PR_BASE=$(echo "$PR_DATA" | jq -r '.base.ref')" >> $GITHUB_ENV
            echo "PR_HEAD=$(echo "$PR_DATA" | jq -r '.head.ref')" >> $GITHUB_ENV
          fi

      - name: Prepare SonarCloud args
        run: |
          COMMIT_SHA="${{ github.event.workflow_run.head_sha }}"
          SONAR_ARGS="-Dsonar.scm.revision=$COMMIT_SHA"
          if [[ "${{ github.event.workflow_run.event }}" == "pull_request" && -n "${{ env.PR_NUMBER }}" ]]; then
            SONAR_ARGS="${SONAR_ARGS} -Dsonar.pullrequest.key=${{ env.PR_NUMBER }}"
            SONAR_ARGS="${SONAR_ARGS} -Dsonar.pullrequest.branch=${{ env.PR_HEAD }}"
            SONAR_ARGS="${SONAR_ARGS} -Dsonar.pullrequest.base=${{ env.PR_BASE }}"
          fi
          echo "SONAR_ARGS=${SONAR_ARGS}" >> $GITHUB_ENV

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.ANSIBLE_COLLECTIONS_ORG_SONAR_TOKEN_CICD_BOT }}
        with:
          args: ${{ env.SONAR_ARGS }}
